        <div class="box" id="inventory">
          <h1>My Earnings Info</h1>
          <div ng-hide="!mealCount" class="center">No Earnings.</div>
          <div class="list" ng-hide="mealCount">
            <div class="cost cf" ng-repeat="(key, value) in totals">
            	<div ng-repeat="(key, value) in value">
				  <span class="left">{{ key }}:</span>
				  <span class="right">{{ value | currency}}</span>
				</div>
            </div>
          </div>
<!-- 
            <table border="0" cellspacing="0">
              <tr ng-repeat="(key, value) in totals">
                <td ng-repeat="(key, value) in value">
                  <span class="left">{{ key }}:</span> 
                  <span class="right total">{{ value }}</span>
                </td>
              </tr>
            </table>
 -->
        </div>
        </div>