        <div class="box" id="inventory">
          <h1>My Earnings Info</h1>
          <div ng-hide="mealCount" class="center">No Earnings.</div>
          <div class="list">
            <table border="0" cellspacing="0">
              <tr ng-repeat="(key, value) in totals">
                <td ng-repeat="(key, value) in value">
                  <span class="left">{{ key }}:</span> 
                  <span class="right total">{{ value }}</span>
                </td>
              </tr>
<!--               <tr ng-repeat="total in total" >
                <td class="left">{total[0]}:</td>
                <td class="center">{{ getTotals() }}</td>
              </tr>
              <tr>
                <td class="left">Ticket Count:</td>
                <td class="center">{{ total.mealCount }}</td>
              </tr>
              <tr>
                <td class="left">Average Tip per ticket:</td>
                <td class="center">{{ total.tipAverage }}</td>
              </tr> -->
            </table>
        </div>
        </div>